body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    padding-top: 80px;
}

.box {
    background: white;
    width: 320px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

a {
    display: block;
    margin: 15px 0;
    padding: 12px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background: #0056b3;
}
body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    padding-top: 80px;
}

.design {
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


a:hover {
    background: #0056b3;
}
